*{
    margin: 0;
    padding: 0;
    font-family: serif;

}
div.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.65)),url(7.jpg);
    background-size: cover;
    background-position: center;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.logo{
    width: 10%;
    cursor: pointer;
    border-radius: 70%;
    border-style: solid;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: cyan;
    position: absolute;
    left: 0;
    bottom: -10px;

}
.content{
    color: white;
    text-align: center;
    margin-top: 10%;
}
button{
    width: 200PX;
    padding: 15px 0;
    text-align: center;
    border-radius: 35px;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
div.btn{
    width: 100%;
    top: 50%;
    padding-top: 100px;
    transform: translateY(-60%);
    text-align: center;
}
span{
    background: wheat;
    height: 100%;
    width: 0;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    background-color: teal;
    color: white;
}